* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

.hero {
  background-color: #007e62;
  position: relative;
}

.hero-bloc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 4rem;
  margin-top: 3rem;
}

.hero-title {
  margin-top: 5rem;
  font-size: 4rem;
  color: #fff;
  letter-spacing: 1.1px;
  font-weight: 600;
}

.hero-text {
  margin-top: 3.5rem;
  font-size: 2.2rem;
  color: #fff;
  font-weight: 300;
}

.hero-form {
  margin-top: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.hero-form input {
  height: 5rem;
  border: none;
  border-radius: 4px;
  width: 38.5rem;
  padding: 0 1.5rem;
  box-shadow: 0 0 10px #00000030;
  font-size: 2rem;
}

.hero-form input::placeholder {
  font-family: sans-serif;
  font-size: 2rem;
}

.btn {
  width: 16rem;
  height: 5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  box-shadow: 0 0 10px #00000030;
}

.btn--hero {
  background-color: #212326;
  color: #fff;
}

.hero-ast {
  margin-top: 2.5rem;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 100;
  text-align: center;
  line-height: 1.6;
  max-width: 50rem;
  padding-bottom: 25rem;
}

.hero-img {
  position: absolute;
  bottom: -6rem;
}

.hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20.5rem;
  background: url(images/wave.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.features {
  margin-top: 12rem;
  display: flex;
  justify-content: center;
  padding: 0 14rem;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.feature-bloc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 30rem;
}

.f-icon {
  height: 50px;
  color: #008060;
}

.bloc-title {
  margin-top: 2.5rem;
  font-size: 1.8rem;
  /* letter-spacing: 0.5px; */
  font-weight: 600;
  color: #212326;
}

.bloc-text {
  margin-top: 1.8rem;
  color: #73777c;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 200;
}

.featured-in {
  margin-top: 14rem;
  padding: 0 14rem;
}

.logos-in {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 0;
  border-top: 1px solid #d3d5d9;
  border-bottom: 1px solid #d3d5d9;
}

.img-in {
  width: 8rem;
  filter: brightness(0);
  opacity: 60%;
}

.testimonial {
  margin-top: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonial-text {
  font-size: 2.4rem;
  color: #212326;
  font-weight: 400;
  max-width: 54%;
  text-align: center;
}

.author {
  margin-top: 2.5rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  color: #43474b;
}

.btn--testimonial {
  margin-top: 5rem;
  background-color: #007e62;
  color: #fff;
  transition: all 0.3s;
}

.btn--testimonial:hover {
  background-color: #007158;
}

.a-btn {
  text-decoration: none;
  color: inherit;
  text-align: center;
  font-size: inherit;
  font-weight: inherit;
}

.btn--flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq {
  margin-top: 10rem;
  background-color: #faf9f8;
  padding-bottom: 10rem;
}

.faq-title {
  padding-top: 10rem;
  text-align: center;
  color: #1e4b40;
  font-size: 3rem;
  font-weight: 300;
}

.menu-faq {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

.bloc-faq {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  margin: 0 auto;
  border-bottom: 1px solid #d3d5d9;
}

.faq-menu {
  color: #212326;
  font-size: 1.8rem;
  padding: 2rem 0;
  cursor: pointer;
  transition: all 0.3s;
}

.faq-menu:hover {
  color: #1e4b40;
  text-shadow: 0 0 2px #1e4b4020;
}

.bloc-faq:hover .plus-faq {
  color: #1e4b40;
}

.plus-faq {
  height: 24px;
  width: 24px;
  cursor: pointer;
  transition: all 0.3s;
}

.plus-faq:hover {
  transform: rotate(180deg);
}

.footer {
  text-align: end;
  padding-right: 15rem;
}

.a-footer {
  display: inline-block;
  margin: 2rem 1rem;
  cursor: pointer;
}

.a-footer:link,
.a-footer:visited {
  text-decoration: none;
  color: #007e62;
  font-size: 1.6rem;
  font-weight: 300;
}
